body {
    background-color: rgb(230, 230, 230);
    padding: 0;
    margin: 0;

    font-family: Roboto;

    display: flex;
    justify-content: center;
}

.conteudo {
    max-width: 900px;
    min-width: 900px;
    overflow: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 0;

    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.cabecalho h1 {
    margin: 0;
    color: black;
    font-family: 'Dancing Script';
}

.cabecalho a {
    color: #0095f6;
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration: underline;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto img {
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    max-height: 350px;
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    max-width: 550px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.descricao h3 {
    margin: 0;
}

.descricao button {
    background-color: rgba(0, 0, 0, .15);
    border: none;
    padding: 1rem;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;

    max-width: 200px;
    min-width: 200px;
}

.descricao button:hover {
    background-color: rgba(0, 0, 0, .3);
    transition: background-color .3s;
}